body {
    line-height: 1.5;
    font-size:16px;
    font-family: 'Poppins', sans-serif;
}
ul {
    list-style: none;
}
a {
    cursor: pointer;
    text-decoration: none;
    color:#333;
}
.navbar{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1248px;
    margin: 0 auto;
}
.link,
.btn-login{
    font-weight: 600;
}
.link:hover,
.btn-login:hover{
    color: #4891ff;
    opacity: 0.8;
    transition: 0.5s;
}
.main-menu {
    display: flex;
    gap:24px;
}
.title{
    width: 824px;
    font-size: 64px;
    font-weight: 500;
    font-style: normal;
    line-height: 110%;
    letter-spacing: -2px;

}
.para{
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 160%;
    width: 555px;
    padding-bottom: 40px ;
}
button {
    font-size: 18px;
    padding: 16px 32px;
    border-radius: 16px;
    border: none;
}
.btn-group{
    display: flex;
    gap: 30px;
    padding-bottom: 50px;
}
.btn-get{
    background-color: #4891ff;
    color: #F5F5F5; 
    font-weight: 500;
}
.btn-book{
background-color: #F5F5F5;
color: #131316;
font-weight: 500;
}
.hero{
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 730px;
    background-image: url("../images/hero-bg.png");
    
}
.video{
    width: 1440px;
    text-align: center;
    margin: 0 auto;
    background: #131316;
    background-position: center center;
    background-repeat: no-repeat;
    height: 963px;
    background-image: url("../images/Video\ \(1\).png");
}
.heading{
color: #F5F5F5;
font-size: 48px;
font-weight: 500;
line-height: 170%;
letter-spacing: -1px;
}
.btn-video{
    display: flex;
    max-width: 1440px;
    background-color: #4891ff;
    color: #F5F5F5;
    position: relative;
    top: 725px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
footer {
    width: 1440px;
height: 579px;
background-color: #131316;
margin: 0 auto;
}
.picture{
    display: flex;
justify-content: space-between;
align-items:flex-start;
padding: 78px 109px 15px;
height: 20px;
}
.button-container {
    position: relative;
    width: 401px;
    height: 205px;
    background-color:#F5F5F5;
    border-radius: 8px;
    padding: 10px;
    text-align: left;
}
.btn-footer{
    padding: 12px 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #F5F5F5;
    background-color: #4891ff;
}
.heading-footer{
    font-size:20px ;
    font-weight: 500;
    font-style: normal;
    line-height: 150%;
}
.text-email{
display: flex;
justify-content: left;
padding: 12px 24px 12px 12px;
border-radius: 8px;
gap: 10px;
}
.form-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 55px;
}
.back{
    font-size: 16px;
    font-weight: 400;
    color: #F5F5F5;
}
.link:hover,
.back:hover{
    color: #4891ff;
    opacity: 0.8;
    transition: 0.5s;}